{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        },
        "debug": true,
        "modules": false,
        "useBuiltIns": "usage"
      }
    ]
  ]
}
